<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>development</string>
     <key>_fBl</key>
    <string>55U8F4999W</string>
	<key>compileBitcode</key>
	<true/>
    <key>uploadSymbols</key>
	<true/>
    <key>signingCertificate</key>
    <string>Apple Development: Minh Luu (FA7DB7VNWU)</string>
    <key>stripSwiftSymbols</key>
    <true/>
    <key>signingStyle</key>
    <string>manual</string>
    <key>provisioningProfiles</key>
    <dict>
        <key>com.fliteboard.fliteapp.dev</key>
        <string>AD2 Blueprint</string>
    </dict>
    <key>thinning</key>
    <string>&lt;none&gt;</string>
</dict>
</plist>