<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>development</string>
     <key>teamID</key>
    <string>5LPVUWDHDS</string>
	<key>compileBitcode</key>
	<true/>
    <key>uploadSymbols</key>
	<true/>
    <key>signingCertificate</key>
    <string>Apple Development: Duy Nguyen (JW4P84KFXQ)</string>
    <key>stripSwiftSymbols</key>
    <true/>
    <key>signingStyle</key>
    <string>manual</string>
    <key>provisioningProfiles</key>
    <dict>
        <key>com.example.flBlueprint</key>
        <string>AD_flBlueprint</string>
    </dict>
    <key>thinning</key>
    <string>&lt;none&gt;</string>
</dict>
</plist>